name: workaround w/ poetry env use VER

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Install poetry
      run: pipx install poetry
    - uses: actions/setup-python@v3
      with:
        python-version: '3.9'
        cache: 'poetry'
    - run: |
        poetry env use 3.9
        poetry install
    - run: python -V
    - run: poetry run python -V
    - run: poetry run pytest
